@font-face {
  font-display: swap;
  font-family: 'NovaMono';
  font-style: normal;
  src: local('NovaMono'), url(https://fonts.gstatic.com/s/novamono/v9/Cn-0JtiGWQ5Ajb--MRKvZ2ZZ.woff2) format('woff2');
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'NovaMono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top left, rgba(7,27,82,1) -10%, rgba(0,128,128,1) 100%);
}