@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Nova Mono', monospace;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top left, rgba(7,27,82,1) -10%, rgba(0,128,128,1) 100%);
}